
@model List<Team>

@{
    ViewData["Title"] = "Index";
    int count = 1;
}



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Inverse table</h4>
            <p class="card-description">
                Add class <code>.table-dark</code>
            </p>
            <div class="table-responsive pt-3">
                <table class="table table-light">
                    <a class="btn btn-outline-success" asp-area="Admin" asp-controller="Teams" asp-action="Create">Create</a>
                    <thead>
                        <tr>
                            <th>
                                #@count
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    <img src="~/assets/img/team/@item.Imagepath" >
                                </td>
                                <td>
                                    @item.Title
                                </td>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    
                                    <a class="btn btn-outline-dark " asp-area="Admin" asp-controller="Teams" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>

                            count++;


                        }



                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



